<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='common/css/main.css') }}" rel="stylesheet">
    <title>Dreams Library - Home</title>
</head>
<body>
<header>
    <div class="container">
        <div class="header-content">
            <div class="logo">Dreams Library</div>
            <nav class="nav">
                <a href="{{ url_for('user.user_login') }}">Account</a>
                {% if is_logged %}
                    <a href="{{ url_for('user.clear_session') }}">Log Out</a>
                {% endif %}
                <a href="https://github.com/AXuanCreator/Flask-Web">GitHub</a>
                <span class="status-dot {% if is_logged %}logged-in{% else %}logged-out{% endif %}"
                      style="position: absolute; top:19px; left: 1320px"></span>
            </nav>
        </div>
    </div>
</header>
<main class="main">
    <div class="container">
        <h1>Dreams Library</h1>
        <p style="opacity: 10%;">“ 但在那之前，我，仍有选择的权利 ”</p>
        <form action="{{ url_for('book.book_info') }}" method="GET" class="search-box">
            <input type="text" name="title" placeholder="去寻找...">
            <input type="hidden" name="page" value="1">
            <input type="hidden" name="per_page" value="10">
            <button type="submit">搜索</button>
        </form>
        <div class="book-showcase">
            <div class="book-column">
                <div class="book-item">
                    <img src="https://axuan-storage.oss-cn-guangzhou.aliyuncs.com/images/flask-web/book1-cndqsjlg-low.jpg"
                         alt="Book 1">
                    <p>从你的全世界路过</p>
                </div>
                <div class="book-item">
                    <img src="https://axuan-storage.oss-cn-guangzhou.aliyuncs.com/images/flask-web/book2-nh-low.jpg"
                         alt="Book 2">
                    <p>你坏</p>
                </div>
            </div>
            <div class="book-column">
                <div class="book-item">
                    <img src="https://axuan-storage.oss-cn-guangzhou.aliyuncs.com/images/flask-web/book3-ybygxmb-low.jpg"
                         alt="Book 3">
                    <p>云边有个小卖部</p>
                </div>
                <div class="book-item">
                    <img src="https://axuan-storage.oss-cn-guangzhou.aliyuncs.com/images/flask-web/book4-wdgdsyzhy-low.jpg"
                         alt="Book 4">
                    <p>我的孤独是一座花园</p>
                </div>
            </div>
        </div>
    </div>
</main>
<footer>
    <div class="container">
        <h2>根据您的借阅记录，为您推荐...</h2>
        <table class="recommended-books" style="margin: 0 auto; border-collapse: collapse; width: 60%;">
            <thead>
            <tr>
                <th style="border: 1px solid #000; padding: 10px;">书名</th>
            </tr>
            </thead>
            <tbody>
            {% for book in recommended_books %}
                <tr>
                    <td style="border: 1px solid #000; padding: 10px; text-align: center;">{{ book }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</footer>
</body>
</html>
